body
{
  color: white;
  background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#emotion_1 ,#emotion_2  
{
  color: black;
}
.gesture_name
{
  font-size: 40px;
}

.head{
  font-size: 18px;
  border-radius: 10px;
  letter-spacing: 10px;
}

label{
  font-size: 15px;
  color: maroon;
  padding: 6px;
  border-radius: 10px;
  background-color: white;
}
.gesture
{
  font-size:48px;
}


